* body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #7d7979;
  color: #333;
}

header {
  background: linear-gradient(135deg, #e133d0 0%, #bc1818 100%);
  color: rgb(172, 166, 166);
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 5px 10px 15px rgba(255, 3, 3, 0.2);
}

img.imgLogo {
width: 15vw;
height: auto;
}

#cantidad-objetos {
  width: 200px;
}

.campo, .campo-alt {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}


.input-clave, .input-valor, input {
  width: calc(50% - 20px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(219, 220, 178, 0.536);
}

.boton-eliminar, #delete-json-btn{
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.boton-eliminar:hover, #delete-json-btn:hover {
  background-color: #e33e3e;
  transform: scale(1.05);
}

#agregarC, #agregarO, #agregarC-alt {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #3ad34a;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#agregarC:hover, #agregarO:hover, #agregarC-alt:hover {
  background-color: rgb(27, 195, 44);
  transform: scale(1.05);
}

#ctrl-z-btn {
  padding: 10px 15px;
  border: black;
  border-radius: 4px;
  background-color: #fafe00e2;
  color: rgb(63, 63, 63);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#ctrl-z-btn:hover {
  background-color: #dbde08;
  transform: scale(1.05);
}

#generarObjetos {
  background-color: rgb(244, 207, 244);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: rgb(105, 102, 102);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#generarObjetos:hover {
  transform: scale(1.05);
  background-color: rgb(217, 176, 217);
}

#guardarDisco {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #91e5ef;
  color: rgb(63, 63, 63);
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#guardarDisco:hover {
  transform: scale(1.05);
  background-color: #85cfd7;
}

#container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#json-output {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

footer {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

/* Animaciones y efectos adicionales */
button:focus, .input-clave:focus, .input-valor:focus, input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Estilos para checkboxes y etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .campo {
    flex-direction: column;
    align-items: stretch;
  }

  .input-clave, .input-valor, input, .boton-eliminar, button {
    width: 100%;
  }
}

select {
  background-color: #f2f2f2; 
  size: 5wv;
  color: #333; 
  padding: 5px;
  height: 30px;
  margin: 8px 0; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 14px; 
  cursor: pointer; 
}

.contenedor-input {
  position: relative;
  display: inline-block;
}

#lista-menu {
  position: absolute;
    top: 100%; /* Posiciona el menú justo debajo del input */
    left: 0;
    display: none; /* Oculta inicialmente el menú */
}

.menu-oculto {
  display: none;
}

.menu-visible {
  display: block;
}