* {
  margin: 20px;
  padding: 0px;
  filter: grayscale(22%) sepia(20%) brightness(97%) saturate(147%);
  -webkit-filter: grayscale(22%) sepia(20%) brightness(97%) saturate(147%);
  -moz-filter: grayscale(22%) sepia(20%) brightness(97%) saturate(147%);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: #464343;
  background: linear-gradient(90deg, #464343 0%, #0e10b1 80%);
  background: -webkit-linear-gradient(90deg, #464343 0%, #0e10b1 80%);
  background: -moz-linear-gradient(90deg, #464343 0%, #0e10b1 80%);
  border: 3px solid rgb(26, 34, 138);
  color: white;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.69);
  border-radius: 14px 14px 14px 14px;
  
}

body {
  background-color: rgb(52, 52, 52);
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent
    );
  background-size: 55px 55px;
}

.imgLogo{
  width: 50%;
  height: 30%;
}

button {
  width: 10em;
  position: relative;
  height: 5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 80%;

  transition: 0.5s;
  transform-origin: center;
}

button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 80%;
  transition: 0.5s;
}

button:hover::before,
button:hover::after {
  transform: scale(0);
}

button:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

#container {
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px auto;
  background-color: black;
  border: 1px solid black;
  height: 1000px;
  height: fit-content;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 4px groove #1935d1;
}


.article {
  background-color: black;
}

#campos {
  align-items: center;
}
#json-form {
  align-items: center;
}

#json-output {
  border: 1px solid #0e10b1;
}

#cantidad-objetos {
  width: 200px;
  height: 30px;
  color: black;
  animation: shadow-drop-center 0.3s linear both;
}

#generarObjetos {
  animation: shadow-drop-center 0.3s linear both;
  width: 150px;
  height: 30px;
}

#guardarDisco {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

#agregarO {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

#nombreDato {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}
#valorDato {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

#eliminarCampo {
  width: 100px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

#generarClave {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

#generarValor {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

.shadow-drop-center {
  animation: shadow-drop-center 0.3s linear both;
}
@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.55);
  }
}

#agregarC {
  width: 150px;
  height: 30px;
  animation: shadow-drop-center 0.3s linear both;
}

footer{
    margin: 20px;
    padding: 20px;
   
}

