* body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #7d7979;
  color: #333;
}

header {
  background: linear-gradient(135deg, #e133d0 0%, #bc1818 100%);
  color: rgb(172, 166, 166);
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  box-shadow: 5px 10px 15px rgba(255, 3, 3, 0.2);
}

img.imgLogo {
width: 30vw;
height: auto;
}

.campo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.input-clave, .input-valor, input {
  width: calc(50% - 20px);
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgba(219, 220, 178, 0.536);
}

.boton-eliminar, button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #ff4d4d;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.boton-eliminar:hover, button:hover {
  background-color: #e33e3e;
  transform: scale(1.05);
}

#container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#json-output {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  background-color: #f9f9f9;
}

footer {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  font-size: 0.9em;
  color: #666;
}

/* Animaciones y efectos adicionales */
button:focus, .input-clave:focus, .input-valor:focus, input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

/* Estilos para checkboxes y etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .campo {
    flex-direction: column;
    align-items: stretch;
  }

  .input-clave, .input-valor, input, .boton-eliminar, button {
    width: 100%;
  }
}
